# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [25]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [26]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      1
1  banana  medium      3
2  orange     low      5
3   apple    high      9
4  banana  medium      7
5  orange     low      4
6   apple    high     10
7  banana  medium      6
8  orange     low      3
    fruit weight  price
0   apple   high      4
1  orange    low      2
2    pine   high      4
3   apple    low      3
4  orange   high     14
5    pine    low      0

In [27]:
# - 依照 fruit 欄位做合併

'''
Your Code
'''
pd.merge(df1,df2,on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        1     high        4
1    apple     high        1      low        3
2    apple     high        9     high        4
3    apple     high        9      low        3
4    apple     high       10     high        4
5    apple     high       10      low        3
6   orange      low        5      low        2
7   orange      low        5     high       14
8   orange      low        4      low        2
9   orange      low        4     high       14
10  orange      low        3      low        2
11  orange      low        3     high       14

In [28]:
# - 依照 index 索引做合併

'''
Your Code
'''
pd.merge(df1,df2,on='index')

KeyError: 'index'

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [29]:
'''
Your Code
'''
print('使用merge所以兩個都有出現的才會顯示: Apple 和 Orange')

使用merge所以兩個都有出現的才會顯示: Apple 和 Orange

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [30]:
'''
Your Code
'''
print('資料的index數不相同')

資料的index數不相同

In [32]:
pd.merge(df1,df2,left_index=True, right_index=True)

  fruit_x weight_x  price_x fruit_y weight_y  price_y
0   apple     high        1   apple     high        4
1  banana   medium        3  orange      low        2
2  orange      low        5    pine     high        4
3   apple     high        9   apple      low        3
4  banana   medium        7  orange     high       14
5  orange      low        4    pine      low        0